/* 
    Created on : 02.03.2016, 23:39:03
    Author     : Basilius Sauter
*/

$bgColour: #3E753B;
$fgColour: #E9E5CE;

$iconsSocial: "./ressources/socialbutton/";
$iconsInterface: "./ressources/icons/";

html {
    overflow-y: scroll; 
}

a {
    cursor: pointer;
}

.clear {
    clear: both;
}

.w3-btn {
    background-color: $bgColour;
    color: $fgColour;
}

.w3-form {
    .w3-label {
        display: block;
        margin-bottom: 0.5em;
        color: black;
    }
    
    .invalid,
    .invalidated {
        color: red;
    }
}

#head {
    position: relative;
    
    color: $fgColour;
    background-color: $bgColour;
}

#version {
    position: absolute;
    right: 0;
    bottom: 0;
    
    padding-bottom: 1em;
    padding-right: 1em;
}

#sociallogin {
    .socialbutton {
        float: left;
        margin: 1em 0.5em;
        
        width: 64px;
        height: 64px;
           
        cursor: pointer;
        
        &:first-child {margin-left: 0;}
        a {display: none;}
    }
    .google {background-image: url($iconsSocial + "google.png"); }
    .facebook {background-image: url($iconsSocial + "facebook.png");}
}



#toolbar {
    border-bottom: 1px solid grey;
    
    .icon {
        width: 48px;
        height: 2.5em;
        background-repeat: no-repeat;
        background-position: center center;
        text-align: center;
        
        span {
            display: none;
        }
    }
    
    .w3-dropdown-hover > a {
        cursor: default;
    }
    
    a:hover,
    .w3-dropdown-hover:hover {
        background-color: $bgColour !important;
    }
}

#charactermenu .icon { background-image: url($iconsInterface + "character.png"); }
#mailmenu .icon { background-image: url($iconsInterface + "mail.png");}

#offline, #online {
    display: none
}

.closable {
    display: none;
    
    .closebutton {
        width: 1.5em;
        height: 2em;
        float: right;
        
        background-image: url($iconsInterface + "close.png");
        background-repeat: no-repeat;
        background-position: center center;
        
        a {
            display: none;
        }
    }
}

#characterwidget {
    .charentry {
        border: 1px solid grey;
        margin-bottom: 1em;
        
        .charhead {
            padding: 0.3em;
            background-color: $bgColour;
        }
        
        .charname {
            a {
                color: $fgColour;
            }
        }
    }
}

#sceneactions {
    padding-right: 1em;
    
    .w3-sidenav {
        position: relative !important;
        width: 100%;
        z-index: inherit !important;
        
        > div > a {
            background-color: $bgColour !important;
            color: $fgColour !important;
            cursor: default;
        }
        
        .w3-accordion-content {
            display: block !important;
            
            a {
                padding-left: 2em !important;
            }
        }
    }
}

.widget_list {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
    p {
        margin: 0em;
        padding-left: 2em;
        text-indent: -2em;
    }
}