/* 
    Created on : 02.03.2016, 23:39:03
    Author     : Basilius Sauter
*/

$fontStack: Calibri, Helvetica, sans-serif;
$primaryTint: #111;
$primaryLighten1: 20%;

$secondaryBackground: #217821;
$secondaryForeground: #FFF;

$darkerBackground: darken($secondaryBackground, 5%);
$lighterBackground: lighten($secondaryBackground, 5%);

$ressource_dir: "./ressources";

$smartphone-width: 300px;
$tablet-width: 768px;
$desktop-width: 1024px;

$ratio: 1.3;


@mixin smartphone {
    @media only screen and (-webkit-min-device-pixel-ratio: $ratio),
  only screen and (min-resolution: #{round($ratio*96)}dpi) {
        @content;
    }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
    margin: 0;
    padding: 0;
    font: 100% $fontStack;
    color: $primaryTint;
    
    @include smartphone {
        font-size: 200%;
    }
    
    a, .button {
        color: $secondaryBackground;
        cursor: pointer;
        
        &:hover {
            color: lighten($secondaryBackground, 20%)
        }
    }
    
    .clear {
        clear: both;
    }
    
    .col-third {
        width: 33%;
        float: left;
    }
    
    #head {
        margin-top: 2em;
        margin-bottom: 2em;
        width: 100%;
        height: 10%;
        overflow: hidden;
        
        padding: 1em;
            
        border-top: 1px solid darken($secondaryBackground, 50%);
        border-bottom: 1px solid darken($secondaryBackground, 50%);
        
        background-color: $secondaryBackground;
        color: $secondaryForeground;
        
        @include smartphone {
            margin-top: 0em;
            height: 2em;
        }
        
        #title {            
            text-align: center;
            font-size: 200%;
            font-weight: bold;
            
            @include smartphone {
                margin-top: 0.2em;
                float: left;
            }
        }

        #version {
            &:before { content: "Version: "; }
            text-align: center;
            margin-top: -0.5em;
            
            @include smartphone {
                margin-top: 1.5em;
                margin-right: 0.5em;
                text-align: right;
            }
        }
    }
    
    #body {        
        #offline {
            display: none;
            padding: 0em 0.5em;
            
            @include smartphone {
                margin: 0em 1em;
            }
            
            #login {
                #loginmessage {
                    font-weight: bold;
                }
                
                #sociallogin {
                    margin-top: 1em;
                    
                    .socialbutton {                        
                        margin: 0.5em;
                        width: 64px;
                        height: 64px;
                        
                        float: left;
                        background-color: black;
                        
                        cursor: pointer;
                        
                        a {
                            display: none;
                        }
                        
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                    
                    .google {
                        background-image: url($ressource_dir + "/socialbutton/google.png")
                    }
                    
                    .facebook {
                        background-image: url($ressource_dir + "/socialbutton/facebook.png")
                    }
                }
            }
        }

        #online {
            display: none;
            
            #toolbar {                
                margin-top: -2em;
                border-bottom: 1px solid gray;
                padding: 0.5em 0.5em;
                
                #charactermenu { background-image: url($ressource_dir + "/icons/character.png"); }
                #mailmenu { background-image: url($ressource_dir + "/icons/mail.png"); }
                
                .icon {
                    width: 32px;
                    height: 32px;
                    
                    > a {
                        display: none;
                    }
                }
                
                .submenu {
                    ul {
                        display: none;
                        margin-top: 2em;
                        padding-left: 0em;
                        list-style-type: none;
                        border: 1px solid black;
                        width: 200px;
                        background-color: white;
                    }
                    
                    li {
                        display: block;
                        padding: 0.5em;
                        border-top: 1px solid black;
                        
                        &:first-child {
                            border-top: 0px solid black;
                        }
                    }
                }
                
                div {
                    margin-left: 1em;
                    text-align: left;
                    
                    &:first-child {
                        margin-left: 0em;
                    }
                    
                    float: left;
                }
                
                #logininfo {
                    text-align: right; 
                    float: right;
                    
                    a {

                    }
                }
            }
            
            .col-center {
                div.closable {
                    display: none;
                    
                    div.closebutton {
                        background-image: url($ressource_dir + "/icons/close.png");
                        width: 32px;
                        height: 32px;
                        
                        float: right;
                        right: 0px;
                        cursor: pointer;
                        
                        a {
                            display: none;
                        }
                    }
                }
            }
        }   
    }
}

#characterwidget {
    ul {
        padding: 0em;
    }
    
    li {
        list-style-type: none;
    }
    .charentry {
        border: 1px solid black;
        margin-bottom: 1em;
        
        .charname {
            background-color: $darkerBackground;
            color: $secondaryForeground;
            
            padding: 0.2em 1em;
            border-bottom: 1px solid grey;
        }
    }
}