/* 
    Created on : 02.03.2016, 23:39:03
    Author     : Basilius Sauter
*/
body {
  margin: 0;
  padding: 0;
  font: 100% Calibri, Helvetica, sans-serif;
  color: #111; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-resolution: 125dpi) {
    body {
      font-size: 200%; } }
  body a, body .button {
    color: #217821;
    cursor: pointer; }
    body a:hover, body .button:hover {
      color: #37c837; }
  body .clear {
    clear: both; }
  body .col-third {
    width: 33%;
    float: left; }
  body #head {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    height: 10%;
    overflow: hidden;
    padding: 1em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #217821;
    color: #FFF; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-resolution: 125dpi) {
      body #head {
        margin-top: 0em;
        height: 2em; } }
    body #head #title {
      text-align: center;
      font-size: 200%;
      font-weight: bold; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-resolution: 125dpi) {
        body #head #title {
          margin-top: 0.2em;
          float: left; } }
    body #head #version {
      text-align: center;
      margin-top: -0.5em; }
      body #head #version:before {
        content: "Version: "; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-resolution: 125dpi) {
        body #head #version {
          margin-top: 1.5em;
          margin-right: 0.5em;
          text-align: right; } }
  body #body #offline {
    display: none;
    padding: 0em 0.5em; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-resolution: 125dpi) {
      body #body #offline {
        margin: 0em 1em; } }
    body #body #offline #login #loginmessage {
      font-weight: bold; }
    body #body #offline #login #sociallogin {
      margin-top: 1em; }
      body #body #offline #login #sociallogin .socialbutton {
        margin: 0.5em;
        width: 64px;
        height: 64px;
        float: left;
        background-color: black;
        cursor: pointer; }
        body #body #offline #login #sociallogin .socialbutton a {
          display: none; }
        body #body #offline #login #sociallogin .socialbutton:first-child {
          margin-left: 0; }
      body #body #offline #login #sociallogin .google {
        background-image: url("./ressources/socialbutton/google.png"); }
      body #body #offline #login #sociallogin .facebook {
        background-image: url("./ressources/socialbutton/facebook.png"); }
  body #body #online {
    display: none; }
    body #body #online #toolbar {
      margin-top: -2em;
      border-bottom: 1px solid gray;
      padding: 0.5em 0.5em; }
      body #body #online #toolbar #charactermenu {
        background-image: url("./ressources/icons/character.png"); }
      body #body #online #toolbar #mailmenu {
        background-image: url("./ressources/icons/mail.png"); }
      body #body #online #toolbar .icon {
        width: 32px;
        height: 32px; }
        body #body #online #toolbar .icon > a {
          display: none; }
      body #body #online #toolbar .submenu ul {
        display: none;
        margin-top: 2em;
        padding-left: 0em;
        list-style-type: none;
        border: 1px solid black;
        width: 200px;
        background-color: white; }
      body #body #online #toolbar .submenu li {
        display: block;
        padding: 0.5em;
        border-top: 1px solid black; }
        body #body #online #toolbar .submenu li:first-child {
          border-top: 0px solid black; }
      body #body #online #toolbar div {
        margin-left: 1em;
        text-align: left;
        float: left; }
        body #body #online #toolbar div:first-child {
          margin-left: 0em; }
      body #body #online #toolbar #logininfo {
        text-align: right;
        float: right; }
    body #body #online .col-center div.closable {
      display: none; }
      body #body #online .col-center div.closable div.closebutton {
        background-image: url("./ressources/icons/close.png");
        width: 32px;
        height: 32px;
        float: right;
        right: 0px;
        cursor: pointer; }
        body #body #online .col-center div.closable div.closebutton a {
          display: none; }

#characterwidget ul {
  padding: 0em; }
#characterwidget li {
  list-style-type: none; }
#characterwidget .charentry {
  border: 1px solid black;
  margin-bottom: 1em; }
  #characterwidget .charentry .charname {
    background-color: #1c641c;
    color: #FFF;
    padding: 0.2em 1em;
    border-bottom: 1px solid grey; }

/*# sourceMappingURL=newlogd_gen.css.map */
