<?php
/**
 * authentification configuration file
 *
 * @package Config
 */

return [
	"facebook" => [
		"enabled" => false,
		"text" => [
            "name" => "Facebook",
            "logintext" => "Login via your Facebook account",
        ],
		"id" => "",
		"secret" => "",
		"scope" => "public_profile email",
	],
	
	"google" => [
		"enabled" => false,
		"text" => [
            "name" => "Facebook",
            "logintext" => "Login via your Facebook account",
        ],
		"id" => "",
		"secret" => "",
		"hybridauth" => "Google",
		"scope" => "profile email",
	],
];