/**
 *	Default Typography
 */
html {
	overflow-y: scroll;
}

body {
	color: #DDDDDD;
	background-color: #101010;
	
	font-size: 14px;
	line-height: 1.42em;
}

h1 {
	font-size: 2em;
}

h1 small {
	color: #BBBBBB;
	font-size: 0.75em;
}

a {
	color: #AAEEAA;
	text-decoration: none;
}

a:hover { text-decoration: underline; }

input:not([type="submit"]),
textarea,
select {
	border: 1px solid black;
	padding: 0.2em 0.5em;
	color: #101010;
	background-color: #FFFFFF;
}

input[type="submit"], button {
	border: 1px solid black;
	padding: 0.2em 0.5em;
	color: #101010;
}

.sr-only {
	display: none;
}

/**
 *	Block-Groups
 */

#row-top {
	display: flex;
	
	padding-left: 18.75%;
	max-height: 6em;
	min-height: 6em;
	
	background: -webkit-linear-gradient(#444444, #101010); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#444444, #101010); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#444444, #101010); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#444444, #101010); /* Standard syntax */
}

#logo-container {
	position: absolute;
	left: 0px;
	
	width: 18.75%;
	
	text-align: center;
}

#logo {
	height: 122px;
}

#main-nav {
	width: 69.54%;
	float: left;
	display: inline-block;
}

#charstats, #loginform {
	box-sizing: border-box;
	width: 30.46%;
	padding-right: 1em;
	padding-top: 1em;
	
	display: inline-block;
	font-size: 0.8em;
	text-align: right;
}

#loginform label  {	display: block; line-height: 0.9em;}
#loginform fieldset {border: none; }

#loginform input, #loginform button {
	box-sizing: border-box;
	width: 100%;
	border-radius: 0.75em;
	padding: 0.1em 0.5em;
}

#loginform button { width: 50%; }

#loginform a, #charstats a {
	display: inline-block;
	padding-left: 1em;
	color: #AAEEAA;
}

#row-main {
	display: flex;
	
	border-top: 2px groove #f4cb5f;
	border-bottom: 2px groove #f4cb5f;
	
	background-color: #1f1a12;
}

#col-nav {
	min-width: 18.75%;
	border-right: 2px ridge gray;
	padding-top: 64px;
	
	background-color: #002200;
	color: #AAEEAA;
}

.nav-container {width: 100%;}
.nav-container .nav-item {}

.nav-container .nav-title {
	text-align: center;
	font-weight: bold;
}

.nav-container .nav-title span:before {content: "- ";}
.nav-container .nav-title span:after  {content: " -";}

.nav-container .nav-link {
	border-top: 1px solid #002200;
	border-bottom: 1px solid #002200;
	padding: 0.1em 0.5em;
}

.nav-container .nav-link:hover {
	border-top: 1px solid #008800;
	border-bottom: 1px solid #004400;
	
	background-color: #006600;
	text-decoration: underline;
}

#col-content {
	width: 100%;
	padding: 1em 0.5em;
}

#debug {
	border-radius: 0.5em;
	padding: 0.5em;
	outline: 1px dashed black;
	
	color: #101010;
	background-color: #DDDDDD;
	
	font-size: 0.8em;
	font-family: monospace;
	white-space: pre;
}

#row-bottom {
	padding: 0.5em;
}

/**
 * FORM
 */

fieldset {
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0;
}

fieldset legend {	
	font-weight: bold;
	font-size: 1.4em;
}

#col-content fieldset {
	padding-top: 1em;
}

.form-group {
    margin: 0.5em 0em;
}

.form-group > label,
.form-group > .label {
	width: 33%;
	padding-right: 1em;
	box-sizing: border-box;
	
	display: inline-block;
	
    vertical-align: top;
	text-align: right;
	font-weight: bold;
}

.form-group .form-input {
	width: 66%;
	padding-right: 2em;
	padding-left: 1em;
	box-sizing: border-box;
	
	display: inline-block;
}

.form-group .form-input * {border-radius: 0.25em; }
.form-group .form-input input {
    width: 100%; 
    background-color: #DDDDDD;
}
.form-group .form-input textarea {
    width: 100%; 
    background-color: #DDDDDD; 
    min-height: 10em;
}

.form-group .skip-desc {
    margin-left: 33%;
    padding-right: 2em;
	padding-left: 1.2em;
	box-sizing: border-box;
}

.form-errors > label,
.form-errors > .label {color: #DD0000; }
.form-errors input, .form-errors textarea {background-color: #FFFF99;}

.form-group > label:after,
.form-group > .label:after {content: ":";}

.form-bitfield label {
    display: block;
}

.form-bitfield input {
    text-align: left;
    max-width: 1em !important;
    margin-right: 1em;
}

output.range-output { 
  position: absolute;
  background-image: linear-gradient(top, #444444, #999999);
  width: 40px; 
  height: 30px; 
  text-align: center; 
  color: white; 
  border-radius: 10px; 
  display: inline-block; 
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
  margin-left: -1%;
}
output.range-output:after { 
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}


/**
 * TABLE
 */

th {
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
    
    background-color: #006600;
    
    text-align: left;
    font-weight: bold;
}

th, td {
    margin-top: 1em;
    padding: 0.5em 1em;
    
    vertical-align: top;
}